@tailwind base;
@tailwind components;
@tailwind utilities;

.maintables td {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
}

.activeSettings{
    background-color: #f4f4f4;
        border-left-width: 4px;
    border-color: #3b4f3a;
}

.activeNav{
     --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
--tw-gradient-to: #739072 var(--tw-gradient-to-position);
--tw-gradient-from: #3a4d39 var(--tw-gradient-from-position);
   
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.activeNavChild{
    background-color: #cce1cc;
}
.activeNavChildApproaching{
    background-color: #d18751;
    color: white;
}
.activeNavChildOverdue{
    background-color: #d15651;
    color: white;
}

.select2 {
    width: 100% !important;
    /* height: 100% !important; */
}
.selection {
    width: 100% !important;
    height: 100% !important;
    display: block;

}

.select2-selection {
    padding: 0.625rem;

    width: 100% !important;
    height: 90% !important;
}
